body {
	background-color: black;
	color: white;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 8px;
	float: none;
}

a {
	color: #88F;
}

i {
	color: #AAA;
	font-size: 0.8em;
}

/* App Pages */

.app-info {
	overflow: auto;
}

img.app-icon {
	display: block;
	border-radius: 20px;
	width: 120px;
	height: 120px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
	text-align: center;
}

.privacy-policy {
	text-align: center;
}

@media (min-width: 420px) {
	.app-info {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	img.app-icon {
		display: inline-block;
		margin: 16px;
	}

	h3 {
		text-align: left;
	}
}

/* Header */

header {
	border-bottom: 1px solid white;
	margin-bottom: 32px;
}

h1 {
	text-align: center;
	margin: 32px 0;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header li a {
	display: block;
	color: white;
	margin: 0;
	padding: 8px 16px;
	text-decoration: none;
}

header li a.active {
	background-color: white;
	color: black;
}

header li a:hover:not(.active) {
	background-color: #335;
	color: white;
}

@media (min-width: 420px) {
	header li {
		float: left;
	}
}

/* Footer */

footer {
	border-top: 1px solid white;
	margin-top: 32px;
	color: #AAA;
}

@media (min-width: 420px) {
	.footer-left {
		float: left;
	}
	.footer-right {
		float: right;
	}
}